<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yapp.itemfinder.space">

    <application>
        <activity
            android:name=".addlocker.AddLockerActivity"
            android:exported="true"
            android:theme="@style/ItemFinderTheme" />
        <activity
            android:name=".selectspace.SelectSpaceActivity"
            android:theme="@style/ItemFinderTheme" />
        <activity android:name=".additem.AddItemActivity"
            android:theme="@style/ItemFinderTheme"/>
        <activity android:name=".edititem.EditItemActivity"
            android:theme="@style/ItemFinderTheme"/>
    </application>

</manifest>
